#about-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background-color: rgba(245, 245, 245, 1);
    overflow: hidden;
}

#about-content {
    width: auto;
    height: fit-content;
    margin-left: 4rem;
    margin-right: 4rem;
}

#about-content h1 {
    margin: 10rem 0 4rem 0;
    color: rgba(0, 8, 16, 1);
}

#about-content h3 {
    margin: 0;
    color: rgba(0, 8, 16, 1);
}

#about-content-button-wrapper {
    width: 100%;
    height: fit-content;
    margin: 10rem 0;
}

#about-content-button-wrapper .button {
    background-color: rgba(0, 8, 16, 1);
}

#about-content-button-wrapper p {
    width: 22.5rem;
    height: fit-content;
    margin: auto 0;
    color: rgba(0, 0, 0, 0.56);
}

#about-video-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

#about-video {
    position: relative;
    width: 100%;
    height: fit-content;
}

#watch-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    width: 79.7%;
    aspect-ratio: 345/88;
    object-fit: fill;
    font-size: 16rem;
    color: rgba(139, 139, 139, 1);
    mix-blend-mode: color-dodge;
    z-index: 100;
}

#about-video-button-wrapper {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translate(-50%, 0);
}

#about-video-button-wrapper p {
    color: rgba(255, 255, 255, 0.56);
}

/* Tablet */
@media (max-width: 991px) {
    #about-content {
        margin-left: 3rem;
        margin-right: 3rem;
    }

    #about-content h1 {
        margin: 6.5rem 0 4rem 0;
    }

    #about-content-button-wrapper {
        width: 100%;
        height: fit-content;
        margin: 7rem 0;
    }

    #watch-img {
        font-size: 14rem;
    }

    #about-video-button-wrapper {
        width: calc(100% - 6rem);
        bottom: 2.5rem;
    }
}

/* Mobile (May actually want this a bit smaller in width) */
@media (max-width: 890px) {
    #about-content {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    #about-content h1 {
        margin: 4rem 0 2.25rem 0;
    }

    #about-content-button-wrapper {
        width: 100%;
        height: fit-content;
        margin: 4rem 0;
        flex-direction: column;
        gap: 2.5rem;
    }

    #about-video-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
    }

    #about-video {
        position: relative;
        width: auto;
        height: 100%;
        aspect-ratio: 13/26;
        object-fit: none;
        overflow: hidden;
    }

    #watch-img {
        top: 4.875rem;
        width: 87.7%;
        transform: translate(-50%, 0%);
        margin: 0;
        font-size: 10rem;
    }

    #about-video-button-wrapper {
        flex-direction: column;
        width: calc(100vw - 3rem);
        gap: 2.5rem;
        bottom: 4rem;
    }

    #about-video-button-wrapper p {
        width: 100%;
        text-align: center;
    }
}