body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: rgba(0, 8, 16, 1);
}

#background-container {
    position: relative;
    width: 100%;
    max-width: 1640px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 8, 16, 1);
    z-index: 100;
}

h1 {
    width: fit-content;
    height: fit-content;

    /* font-family: 'Inter';
    font-style: normal; */
    font-weight: 600;
    font-size: 128px;
    line-height: 120px;
    letter-spacing: -10px;
    font-style: normal;

    hanging-punctuation: first last;
    -webkit-hanging-punctuation: first last;
    -moz-hanging-punctuation: first last;
    -ms-hanging-punctuation: first last;
    -o-hanging-punctuation: first last;

    color: #FFFFFF;
}

h2 {}

p {}

button {}