/* @font-face {
    font-family: 'FontAwesome';
    src: url('../assets/fontawesome-free/webfonts/fa-regular-400.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
} */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgba(0, 8, 16, 1);
}

#page-wrapper {
    position: relative;
    width: 100%;
    max-width: 1640px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 8, 16, 1);
    z-index: 100;
}

h1 {
    width: fit-content;
    height: fit-content;

    font-weight: 600;
    font-size: 8rem;
    line-height: 7.5rem;
    letter-spacing: -0.625rem;
    font-style: normal;
    text-transform: none;

    hanging-punctuation: first last;
    -webkit-hanging-punctuation: first last;
    -moz-hanging-punctuation: first last;
    -ms-hanging-punctuation: first last;
    -o-hanging-punctuation: first last;
}

h1,
h3,
h4 {
    font-family: 'Font Awesome 7 Free';
    color: rgba(255, 255, 255, 1);
    margin: 0;
}

h3 {
    font-size: 2rem;
}

h2 {
    font-size: 4rem;
    font-family: 'Font Awesome 7 Free';
    color: rgba(0, 8, 16, 1);
    line-height: 1;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-family: 'Font Awesome 7 Free';
    color: rgba(255, 255, 255, 1);
    font-size: 1.5rem;
    margin: 0;
}

h6 {
    font-family: 'Font Awesome 7 Free';
    color: rgba(0, 8, 16, 1);
    font-size: 1rem;
    margin: 0 0 1rem 0;
}

p {
    font-family: 'Font Awesome 7 Free';
    font-size: 1rem;
    margin: 0;
}

.highlight-blue {
    color: rgba(0, 92, 183, 1);
}


/* #region button */
.button {
    position: relative;
    width: fit-content;
    height: 3rem;
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background: #005CB7;
    border-radius: 48px;
    cursor: pointer;
    z-index: 400;
}

.button h4 {
    position: relative;
    width: fit-content;
    height: fit-content;
    pointer-events: none;
    user-select: none;
}

.button img {
    position: relative;
    width: auto;
    height: 2rem;
}

.button:focus {
    outline: 2px solid #005CB7;
    outline-offset: 2px;
}

.button-layout {
    position: relative;
    display: flex;
    flex-direction: row;
    width: calc(100% - 8rem);
    height: fit-content;
    margin: 0;
    align-items: center center;
    justify-content: space-between;
}

.button-layout p {
    width: 50%;
    height: fit-content;
}

.button-layout .button {
    position: relative;
    margin: 0;
}

/* #endregion button */

/* Tablet */
@media (max-width: 991px) {}

/* Mobile (May actually want this a bit smaller in width) */
@media (max-width: 890px) {

    h1 {
        font-size: 4.5rem;
        letter-spacing: -0.25rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }
}