#contact-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background-color: rgba(0, 92, 183, 1);
}

#contact-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: auto;
    height: fit-content;
    margin-left: 4rem;
    margin-right: 4rem;
}

#contact-content h1 {
    margin-top: 10rem;
}

#contact-content h3 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

#contact-bottom {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
}

#contact-bottom p {
    width: 26rem;
    height: fit-content;
    max-width: 50%;
}

#contact-buttons {
    position: relative;
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    gap: 1rem;
}

#contact-wrapper .pixel-blocks {
    margin-top: 10rem;
    aspect-ratio: 10 / 1;
}

#contact-wrapper .block-row {
    height: 50%;
}