#hero-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 127.64vh;
    min-height: 50rem;
    background-color: rgba(0, 8, 16, 1);
    z-index: 100;
}

#hero-content {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#hero-bg-img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: fit-content;
    height: fit-content;
    transform: translate(-50%, -50%);
    transform-origin: center center;
    mix-blend-mode: color-dodge;
    object-fit: cover;
    object-position: center center;
    z-index: 100;
}

/* #hero-fg-container {
    position: absolute;
    top: 160px;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
} */

#union-img {
    position: absolute;
    top: 10rem;
    bottom: 25.57%;
    right: 0;
    width: auto;
    height: calc(100% - 10rem - 25.57%);
    object-fit: scale-down;
    transform: translate(-27%, 0);
    z-index: 200;
}

/* Try to stick to vw/vh and rem for units */
#portrait-img {
    position: absolute;
    top: 10rem;
    bottom: 21.65%;
    right: 0;
    width: auto;
    height: calc(100% - 10rem - 21.65%);
    object-fit: scale-down;
    transform: translate(38%, 0);
    z-index: 300;
}

#hero-text {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(100% - 8rem);
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    z-index: 100;
}