#hero-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 0.9;
    /* height: 83rem; */
    min-height: 54rem;
    max-height: 82rem;
    /* max-height: calc(48rem + 35vw); */
    background-color: rgba(0, 8, 16, 1);
    overflow: hidden;
    z-index: 100;
}

#hero-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#hero-bg-img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: fit-content;
    height: fit-content;
    transform: translate(-50%, -50%);
    transform-origin: center center;
    mix-blend-mode: color-dodge;
    object-fit: cover;
    z-index: 100;
}

/* this positioning is wrong. Needs to align consistently to particular image position*/
#hero-bg-gradient-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -97%);
    width: 19rem;
    height: 19rem;
    margin: 0 auto;
    background: radial-gradient(50% 50% at 50% 50%, rgba(230, 230, 230, 1) 0%, rgba(0, 0, 0, 0) 100%);
    mix-blend-mode: color-dodge;
    pointer-events: none;
    z-index: 100;
}

/* #hero-fg-container {
    position: absolute;
    top: 160px;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
} */

#union-img {
    position: absolute;
    /* top: 10rem; */
    bottom: 28%;
    right: 0;
    width: auto;
    height: calc(100% - 10rem - 28%);
    object-fit: cover;
    transform: translate(-34%, 0);
    z-index: 200;
}

#portrait-img {
    position: absolute;
    /* top: 10rem; */
    bottom: 20%;
    right: 0;
    width: auto;
    height: calc(100% - 10rem - 20%);
    object-fit: cover;
    transform: translate(38%, 0);
    z-index: 300;
}

#hero-text {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(50%);
    height: fit-content;
    margin-left: 4rem;
    margin-right: auto;
    margin-top: 10rem;
    z-index: 400;
}

#hero-text h1 {
    margin: 0;
    padding: 0;
    width: fit-content;
    height: 6rem;
    display: flex;
    align-items: center;
}

#hero-text h3 {
    width: 32rem;
    height: 3rem;
    display: flex;
    align-items: center;
    margin: 4rem 0;
    padding: 0;
}

#divider-hero {
    position: relative;
    width: 5rem;
    height: 0.125rem;
    margin: 0;
    padding: 0;
    background: rgba(0, 92, 183, 1);
    flex-shrink: 0;
}

#hero-text p {
    width: 22.5rem;
    height: 2rem;
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 4rem;
    padding: 0;
    color: rgba(99, 108, 118, 1);
}

#hero-content .pixel-blocks {
    position: absolute;
    left: 0;
    bottom: 0;
}

/* Tablet */
@media (max-width: 991px) {
    #hero-text {
        margin-left: 3rem;
    }

    #hero-text p {
        width: 20rem;
        margin-bottom: 3rem;
    }

    #hero-text h3 {
        margin: 3rem 0;
    }
}

/* Mobile (May actually want this a bit smaller in width) */
@media (max-width: 767px) {}