#logo {
    position: relative;
    display: flex;
    width: auto;
    height: 100%;
    aspect-ratio: 7/4;
    z-index: 1;
}

#logo-img {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    z-index: 2;
    background-color: transparent;
    object-fit: contain;
}

#gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    aspect-ratio: 1;
    background: radial-gradient(50% 50% at 50% 50%, rgba(113, 113, 113, 1) 0%, rgba(0, 0, 0, 0) 100%);
    backdrop-filter: blur(2rem);
    mix-blend-mode: color-dodge;
    z-index: 300;
    pointer-events: none;
}

/*
Change fonts:
https://fonts.google.com/selection/embed
https://fonts.google.com/selection?query=inter

Fix spotlights/radial gradients. The above one

https://squoosh.app/

*/