/* css blend modes, have to get the layering right
search this for how it works. Radial gradient is inside div and parent does
this is called mix/blend mode (not multiply, add, some other blend mode)
will have to play with z indexes */

#logo {
    position: relative;
    display: grid;
    width: 140px;
    height: 80px;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
}

#logo-img {
    grid-area: 1 / 1;
    width: auto;
    height: auto;
    z-index: 2;
    background-color: transparent;
}

#gradient-overlay {
    grid-area: 1 / 1;
    width: 57%;
    height: 146%;
    background: radial-gradient(50% 50% at 50% 25%, #717171 0%, rgba(0, 0, 0, 0) 100%);
    mix-blend-mode: color-dodge;
    z-index: 300;
    pointer-events: none;
}