#logo {
    position: relative;
    display: flex;
    width: auto;
    height: 100%;
    aspect-ratio: 7/4;
    z-index: 1;
}

#logo-img {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    z-index: 2;
    background-color: transparent;
    object-fit: contain;
}

/*
Hire Me button can be hidden or take someone to a calendly link or something to get a hold of me.
Get in touch button can do the same thing as the hire me button.
Animate pixel blocks growing into size.

Change fonts:
https://fonts.google.com/selection/embed
https://fonts.google.com/selection?query=inter

How to setup web with git:
https://toroid.org/git-website-howto

https://squoosh.app/

*/