.pixel-blocks {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 1;
    z-index: 400;
}

.block-row {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
}

.square {
    position: relative;
    width: 5%;
    height: auto;
    aspect-ratio: 1 / 1;
}

/* #region hero blocks */
#square-2,
#square-21,
#square-23,
#square-26,
#square-27,
#square-29,
#square-30,
#square-34,
#square-35,
#square-37,
#square-38,
#square-39,
#square-40,
#square-41,
#square-42,
#square-43,
#square-44,
#square-45,
#square-46,
#square-48,
#square-49,
#square-51,
#square-53,
#square-54,
#square-55,
#square-56,
#square-58,
#square-59,
#square-60,
#square-61,
#square-62,
#square-63,
#square-64,
#square-65,
#square-66,
#square-67,
#square-69,
#square-71,
#square-72,
#square-74,
#square-75,
#square-76,
#square-77,
#square-78,
#square-79,
#square-80,
#square-81,
#square-82,
#square-83,
#square-84,
#square-85,
#square-87,
#square-88,
#square-89,
#square-90,
#square-91,
#square-92,
#square-93,
#square-94,
#square-95,
#square-96,
#square-97,
#square-98,
#square-99,
#square-100 {
    background-color: rgba(245, 245, 245, 1);
}

#square-8,
#square-22,
#square-33,
#square-52,
#square-73,
#square-86 {
    background-color: rgba(255, 255, 255, 1);
}

#square-31,
#square-70 {
    background-color: rgba(0, 110, 154, 1);
}

#square-1 {
    background-color: rgba(0, 12, 24, 1);
}

#square-32 {
    background-color: rgba(0, 8, 16, 1);
}

#square-24 {
    background-color: rgba(0, 104, 206, 1);
}

#square-36 {
    background-color: rgba(186, 186, 186, 1);
}

#square-57 {
    background-color: rgba(36, 36, 36, 1);
}

#square-4 {
    background-color: rgba(1, 56, 110, 1);
}

#square-7 {
    background-color: rgba(0, 53, 106, 1);
}

#square-10 {
    background-color: rgba(0, 18, 38, 1);
}

/* #endregion hero blocks */

/* #region contact blocks */
#square-102,
#square-121,
#square-123,
#square-126,
#square-127,
#square-129,
#square-130,
#square-134,
#square-135,
#square-137,
#square-138,
#square-139,
#square-140 {
    background-color: rgba(0, 8, 16, 1);
}

#square-110 {
    background-color: rgba(0, 18, 38, 1);
}

#square-108,
#square-122,
#square-133 {
    background-color: rgba(255, 255, 255, 1);
}

#square-101 {
    background-color: rgba(0, 12, 24, 1);
}

#square-104 {
    background-color: rgba(1, 56, 110, 1);
}

#square-107 {
    background-color: rgba(0, 53, 106, 1);
}

#square-124 {
    background-color: rgba(0, 104, 206, 1);
}

#square-131 {
    background-color: rgba(0, 110, 154, 1);
}

#square-136 {
    background-color: rgba(186, 186, 186, 1);
}

/* #endregion contact blocks */