#work-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 276rem;
    background-color: rgba(245, 245, 245, 1);
    overflow: hidden;
}

#work-wrapper h1 {
    margin-top: 10rem;
    color: rgba(0, 8, 16, 1);
}

#work-wrapper h2 {
    color: rgba(0, 8, 16, 1);
}

#work-wrapper h3 {
    margin-top: 4rem;
    color: rgba(0, 8, 16, 1);
}

#work-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    max-width: 1640px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 4rem;
    padding-right: 4rem;
    overflow: hidden;
}

.work-section {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin-top: 20rem;
}

.section-header {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
}

.section-focus {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
}

.left-side {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: fit-content;
}

.right-side {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: fit-content;
}

.work-img {
    position: relative;
    width: 100%;
    height: fit-content;
    object-fit: cover;
}

.mobile-store-buttons {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40%;
    height: fit-content;
}

.mobile-store-buttons img {
    position: relative;
    width: auto;
    height: 3rem;
    aspect-ratio: initial;
    object-fit: fill;
}

#work-video-wrapper {
    position: relative;
    width: 100%;
    height: fit-content;
}

#work-video-wrapper video {
    position: relative;
    width: calc(100% - 8rem);
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
}

#work-video-wrapper p {
    position: relative;
    width: fit-content;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(12px);
}