#work-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background-color: rgba(245, 245, 245, 1);
    overflow: hidden;
}

#work-wrapper h1 {
    margin-top: 10rem;
    color: rgba(0, 8, 16, 1);
}

#work-wrapper h2 {
    color: rgba(0, 8, 16, 1);
}

#work-wrapper h3 {
    margin-top: 4rem;
    color: rgba(0, 8, 16, 1);
}

#work-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-left: 4rem;
    padding-right: 4rem;
    overflow: hidden;
}

.work-section {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin-bottom: 10rem;
}

.section-header {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    margin-top: 10rem;
    margin-bottom: 4rem;
    align-items: center;
}

#steam-button {
    position: absolute;
    width: auto;
    height: 3rem;
    margin-left: 72%;
    display: flex;
    align-items: center;
}

.work-description {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 66%;
    height: fit-content;
    max-width: 67.5rem;
    margin-left: auto;
    margin-right: 0;
}

.section-focus {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}

.left-side {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 68%;
    height: auto;
    aspect-ratio: 16/9;
    overflow: hidden;
}

.right-side {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 28%;
    height: fit-content;
    margin-left: 4%;
}

.right-side p {
    margin-bottom: 2rem;
}

.mobile-store-buttons {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: auto;
    height: fit-content;
    margin-left: 72%;
    gap: 1rem;
}

.mobile-store-buttons img {
    position: relative;
    width: auto;
    height: 3rem;
    object-fit: fill;
}

#work-video-wrapper {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: flex-start;
}

#work-si-video {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-color: black;
}

#work-video-wrapper p,
#fallnfly-display p,
#rekor-display p {
    position: absolute;
    top: 0;
    left: 0;
    width: 11rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(12px);
}

#work-video-wrapper .button,
#fallnfly-display .button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: fit-content;
    height: 3rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.work-img-container {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    display: flex;
    overflow: hidden;
}

#fallnfly-display img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    object-fit: contain;
    transform: translate(-50%, -50%);
    transform-origin: center center;
}

#rekor-display {
    background-color: rgba(0, 27, 37, 1);
}

#rekor-display img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 48.4%;
    height: auto;
    object-fit: contain;
    transform: translate(-50%, -50%);
    transform-origin: center center;
}